.example {
    overflow-y: auto;     /* 縦スクロールはデータが溢れたら出す */
    overflow-x: hidden;   /* 横スクロールは禁止 */
    width: 95%;          /* 画面幅ぴったりに収める */
    height: 504px;
    border: 1px solid #999; /* テーブル全体の境界をはっきりさせる */
	display: flex;
	align-items: center;
	margin:0 auto;
}

.exampleSearch {
    overflow-x: hidden;   /* 横スクロールは禁止 */
    width: 100%;          /* 画面幅ぴったりに収める */
    height: auto;
	position: sticky;
	top:0;
	z-index: 100;
    border: 0px solid #999; /* テーブル全体の境界をはっきりさせる */
	margin:0 auto;
}

.exampleResult {
    overflow-y: auto;     /* 縦スクロールはデータが溢れたら出す */
    overflow-x: hidden;   /* 横スクロールは禁止 */
    width: 95%;          /* 画面幅ぴったりに収める */
    height: calc(100vh - 504px);
    border: 1px solid #999; /* テーブル全体の境界をはっきりさせる */
	margin:0 auto;
}

.exampleSearchPart {
    overflow-x: hidden;   /* 横スクロールは禁止 */
    width: 95%;          /* 画面幅ぴったりに収める */
    height: auto;
	position: sticky;
	top:0;
	z-index: 100;
  
	margin:0 auto;
}

.exampleResultPart {
    overflow-y: auto;     /* 縦スクロールはデータが溢れたら出す */
    overflow-x: hidden;   /* 横スクロールは禁止 */
    width: 100%;          /* 画面幅ぴったりに収める */
    height: calc(128vh - 504px);
    border: 1px solid #999; /* テーブル全体の境界をはっきりさせる */
	display: flex;
	align-items: center;
	margin:0 auto;
}

.exampleSearch table {
    margin: 0;
    border-spacing: 0;
    width: 95%;
    table-layout: fixed;  /* 画面幅に強制的に収める設定 */
	margin:0 auto;
}

.exampleResult table {
    margin: 0;
    border-spacing: 0;
    width: 95%;
    table-layout: fixed;  /* 画面幅に強制的に収める設定 */
	align-items: center;
	margin:0 auto;
}
	
.exampleSearchPart table {
	margin: 0;
	border-spacing: 0;
	width: 95%;
	table-layout: fixed;  /* 画面幅に強制的に収める設定 */
	display: flex;
	align-items: center;
	margin:0 auto;
}

.exampleResultPart table {
    margin: 0;
    border-spacing: 0;
    width: 95%;
    table-layout: fixed;  /* 画面幅に強制的に収める設定 */
	display: flex;
	align-items: center;
	margin:0 auto;
}

.exampleSearch td {
    white-space: normal;
    word-break: break-all;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 4px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 15px;      /* ★文字サイズを小さくして、横一列に入る文字数を増やす */
    text-align: center;   /* 中央寄せで見やすくする */
	margin:0 auto;
}

.exampleResult td {
    white-space: normal;
    word-break: break-all;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 4px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 11px;      /* ★文字サイズを小さくして、横一列に入る文字数を増やす */
    text-align: center;   /* 中央寄せで見やすくする */
	margin:0 auto;
}

.exampleSearchPart td {
    white-space: normal;
    word-break: break-all;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 4px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 11px;      /* ★文字サイズを小さくして、横一列に入る文字数を増やす */
    text-align: center;   /* 中央寄せで見やすくする */
	margin:0 auto;
}

.exampleResultPart td {
    white-space: normal;
    word-break: break-all;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 4px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 11px;      /* ★文字サイズを小さくして、横一列に入る文字数を増やす */
    text-align: center;   /* 中央寄せで見やすくする */
	margin:0 auto;
}

.exampleSearch th {
    white-space: normal;
    word-break: break-all; /* ヘッダーも枠内で改行を許可 */
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    padding: 6px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 15px;      /* ★文字サイズを11pxに下げて縦伸びを抑える */
    font-weight: bold;
	margin:0 auto;
}

.exampleResult th {
    white-space: normal;
    word-break: break-all; /* ヘッダーも枠内で改行を許可 */
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
	z-index: 10;
    left: 0;
    padding: 6px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 12px;      /* ★文字サイズを11pxに下げて縦伸びを抑える */
    font-weight: bold;
	margin:0 auto;
}

.exampleSearchPart th {
    white-space: normal;
    word-break: break-all; /* ヘッダーも枠内で改行を許可 */
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    padding: 6px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 11px;      /* ★文字サイズを11pxに下げて縦伸びを抑える */
    font-weight: bold;
	margin:0 auto;
}

.exampleResultPart th {
    white-space: normal;
    word-break: break-all; /* ヘッダーも枠内で改行を許可 */
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
	z-index: 10;
    left: 0;
    padding: 6px 2px;     /* ★上下左右の余白を少し詰める */
    font-size: 13px;      /* ★文字サイズを11pxに下げて縦伸びを抑える */
    font-weight: bold;
	margin:0 auto;
}

.exampleSearch tr:first-child th {
    border-top: 1px solid #999;
}

.exampleResult tr:first-child th {
    border-top: 1px solid #999;
}

.exampleSearchPart tr:first-child th {
    border-top: 1px solid #999;
}

.exampleResultPart tr:first-child th {
    border-top: 1px solid #999;
}

.exampleSearch th:first-child {
    border-left: 1px solid #999;
}

.exampleResult th:first-child {
    border-left: 1px solid #999;
}

.exampleSearchPart th:first-child {
    border-left: 1px solid #999;
}

.exampleResultPart th:first-child {
    border-left: 1px solid #999;
}