@charset "UTF-8";

body {
	color: rgb(0, 0, 0);
		background-color: rgb(251, 248, 217);
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: bold;
		font-size:medium;
		margin: 20px 0;
}

div {
	margin: 20px 0;
}

.required {
	color:red;
}