@charset "UTF-8";

body {
	color: black;
		background-color: rgb(192, 192, 192);
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: bold;
		font-size:medium;
		margin: 20px 0;
}

div {
	margin: 20px 0;
}

.required {
	color:red;
}